{
  "hotstar": "https://www.hotstar.com",
  "netflix": "https://www.netflix.com",
  "youtube": "https://www.youtube.com/tv",
  "prime": "https://www.primevideo.com",
  "jiocinema": "https://www.jiocinema.com",
  "zee5": "https://www.zee5.com",
  "sonyliv": "https://www.sonyliv.com",
  "bhajans": "https://www.youtube.com/results?search_query=morning+bhajans+peaceful+aarti",
  "news": "https://www.youtube.com/results?search_query=dd+news+live",
  "photos": "file:///C:/Users/Public/Pictures"
}
